<!DOCTYPE html>{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Felipe de Campos - Challenge for developers</title>
        <link href="{% static 'css/bootstrap-flatly.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/dataTables.foundation.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        {% block javascript %}
            <!-- JQUERY HERE -->
            <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/datatables.min.js' %}"></script>
            <script src="{% static 'js/app.js' %}"></script>
        {% endblock %}

        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div id="footer-copyright">
                            <p align="center">Brainn.co &reg; - Challenge for developers</p>
                            <p align="center"><a href="http://site.felipedecampos.com.br">Felipe de Campos</a></p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
    </body>
</html>
