{% extends 'core/base.html' %}

{% block content %}
    <header>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">Repositories</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Challenge for developers</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="row bs-section">
        <div class="col-12">
            <table class="table table-hover table-striped display" id="repository-table" cellspacing="0" width="100%" data-url="{% url 'repository_list_as_json' %}">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>USERNAME</th>
                        <th>REPOSITORY ID</th>
                        <th>NAME</th>
                        <th>URL</th>
                        <th>LANGUAGES</th>
                        <th>TAGS</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>USERNAME</th>
                        <th>REPOSITORY ID</th>
                        <th>NAME</th>
                        <th>URL</th>
                        <th>LANGUAGES</th>
                        <th>TAGS</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
