behave==1.2.5
Brlapi==0.6.2
certifi==2017.7.27.1
chardet==3.0.4
coverage==4.4.1
Django==1.11.6
flake8==3.4.1
freezegun==0.3.9
gql==0.1.0
graphql-core==1.1
idna==2.6
louis==2.5.3
Mako==1.0.0
MarkupSafe==0.23
mccabe==0.6.1
model-mommy==1.4.0
parse==1.8.2
parse-type==0.4.2
promise==2.0.2
py==1.4.34
pycodestyle==2.3.1
pyflakes==1.5.0
pygobject==3.14.0
pytest==3.2.3
pytest-cov==2.5.1
pytest-django==3.1.2
pytest-mock==1.6.3
pytest-pythonpath==0.7.1
python-apt==0.9.3.12
python-dateutil==2.6.1
python-debian==0.1.27
pytz==2017.2
pyxdg==0.25
requests==2.18.4
six==1.11.0
typing==3.6.2
urllib3==1.22
virtualenv==1.11.6
